<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.web.db2.dao.GoodTableMapper" >
  <resultMap id="BaseResultMap" type="com.ln.web.db2.model.GoodTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodName" property="goodname" jdbcType="VARCHAR" />
    <result column="goodPrice" property="goodprice" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodName, goodPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from good_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ln.web.db2.model.GoodTable" >
    insert into good_table (id, goodName, goodPrice
      )
    values (#{id,jdbcType=INTEGER}, #{goodname,jdbcType=VARCHAR}, #{goodprice,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ln.web.db2.model.GoodTable" >
    insert into good_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodname != null" >
        goodName,
      </if>
      <if test="goodprice != null" >
        goodPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        #{goodprice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ln.web.db2.model.GoodTable" >
    update good_table
    <set >
      <if test="goodname != null" >
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        goodPrice = #{goodprice,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ln.web.db2.model.GoodTable" >
    update good_table
    set goodName = #{goodname,jdbcType=VARCHAR},
      goodPrice = #{goodprice,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getGoods" resultMap="BaseResultMap">
   select * from good_table
  </select>
</mapper>